@keyframes player-name-glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }
}

.player-card {
  --name-background: var(--chess-piece-white);
  --inner-background: color-mix(
    in srgb,
    var(--name-background) 33%,
    transparent
  );
  --name-color: var(--chess-piece-black);
  --captures-color: var(--chess-piece-black);

  align-items: center;

  &.black {
    --name-background: var(--chess-piece-black);
    --name-color: var(--chess-piece-white);
    --captures-color: var(--chess-piece-white);
  }

  .player-card-inner {
    background: var(--inner-background);
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .player-name,
  .player-captures {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    padding: 0.35rem 0.6rem;
    height: 1.75rem;
  }

  .player-name {
    background: var(--name-background);
    color: var(--name-color);

    &.waiting {
      opacity: 0.25;
    }

    &:not(.waiting) {
      animation: player-name-glow 2s ease-in-out infinite;
    }
  }

  .player-captures {
    color: var(--captures-color);
    svg {
      margin-top: -0.25rem;
    }
  }

  .player-score {
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--accent-1);
  }
}
