.get-started-intro {
  text-align: center;

  & p + p,
  & p + ol {
    margin-top: 1em;
  }

  & ol {
    text-align: left;
    display: inline-block;
    padding-left: 2em;
    margin: 0;
  }

  & li {
    padding-left: 0.5em;
  }

  & li + li {
    margin-top: 0.5em;
  }
}
