button {
  font-family: "Alan Sans", system-ui, sans-serif;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  color: var(--color-text);
  background: var(--btn-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;

  & .icon {
    width: 1em;
    height: 1em;
  }

  &:hover {
    background: var(--btn-hover);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.hug {
    min-width: auto;
    width: auto;
  }

  &.primary {
    background: var(--btn-hover);

    &:hover {
      background: var(--accent-1);
    }
  }

  &.secondary {
    background: var(--btn-secondary-bg);

    &:hover {
      background: var(--btn-bg);
    }
  }

  &.tertiary {
    background: transparent;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  &.loading .icon {
    animation: rotate 1s linear infinite;
  }

  &.active {
    box-shadow: 0 0 0 2px var(--btn-hover);
  }

  &.responsive {
    @media (max-width: 800px) {
      font-size: 0;
      gap: 0;
      & .icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.loading-spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
